<%- include ../partials/header %>
<div class="container">
    <h1>Log In</h1>
    <% if (messages.length > 0) { %>
    <div class="alert alert-danger"><%= messages %></div>
    <% } %>
    <main role="main">
        <!--login form-->
        <form method="post" action="/auth/login">
            <div>
                <input name="username" id="username" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button>Log In</button>
        </form>
    </main>
</div>
<%- include ../partials/footer %>