<%- include ../partials/header %>
<div class="container">
    <h1>Log In</h1>
    <% if (messages.length > 0) { %>
    <div class="alert alert-danger"><%= messages %></div>
    <% } %>
    <main role="main" id="login">
        <!--login form-->
        <form method="post" action="/auth/login">
            <fieldset class="form-group">
            <div>
                <input class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
             </fieldset>
             <fieldset class="form-group">
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
             </fieldset>
            <button>Log In</button>
        </form>
    </main>
</div>
<form>
 
    
 
<%- include ../partials/footer %>