<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crime Umbrella</title>
    <meta charset="utf-8">
    <!---------------Bootstrap Css------------------->
      <link href="/stylesheets/bootstrap.css" rel="stylesheet">
   <!--------------------------------CSS 
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
   <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
  //------------------------>
  
   <!----------------Add goole font------------------>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <link href="/stylesheets/style.css" rel="stylesheet">
   
   
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <div id="headertitle">
    <p>Neighbourhood Assessment Tool</P>
   </div>
<header role="banner">
<!------------------------------Bootstrap navigation start from here -------------------------------------->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--------- <a class="navbar-brand" href="#">  <img alt="Brand" src="images/logo.png" width="15%"></a>
       //------------>
       <div id="logo">
        <a href="/"><img src="/images/logoNoBackground.png" alt="logo"/></a>
        </div> 
      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
      
     
      </form>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 </header>
 <!------------------------------------------------END of navigation-------------------------------------------------->
    
    
    
    
 
