<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page">
    <header role="banner">
        <img src="">
        <nav role="navigation">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="data">Data</a></li>
                <li><a href="admin">Admin</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
        <div>
            <input name="searchbar" id="searchbar" placeholder="Search">
        </div>
    </header>