<%- include partials/header %>
<div   class="container">
   <div id="admint" class="row">
        <div  id="admintb1" class="col-md-4 col-md-offset-1">
            <a  href="auth/login">login</a>
        </div>
        <div  id="admintb2" class="col-md-4 col-md-offset-1">
            <a   href="auth/register">Register</a>
        </div>
    </div>
</div>
<%- include partials/footer %>