<%- include partials/header %>
<div class="container">
    <h1>Contact</h1>
    <main role="main">
        <section>
        </section>
    </main>
    <div class="sidebar">
    </div>
</div>
<%- include partials/footer %>