<%- include partials/header %>
<div class="container">
    <h1>Contact Us</h1>
   <main role="main" id="contactf">
        <!--login form-->
        <form method="post" action="contact">
            <fieldset class="form-group">
           <div class="col-sm-6 col-md-offset-3">
                <input class="form-control"  placeholder="Frist Name" required>
            </div>
             </fieldset>
             <fieldset class="form-group">
              <div class="col-sm-6 col-md-offset-3">
                <input class="form-control" type="name" placeholder="Last name" required>
            </div>
             </fieldset>
             <fieldset class="form-group">
              <div class="col-sm-6 col-md-offset-3">
                <input class="form-control" type="email" placeholder="Email" required>
            </div>
             </fieldset>
             <fieldset class="form-group">
              <div class="col-sm-6 col-md-offset-3">
               <textarea class="form-control" placeholder="Waht do want to tell us?" required></textarea>
            </div>
             </fieldset>
              <div class="col-sm-6 col-md-offset-3">
            <button id="contactfbtn" class="btn btn-primary col-md-4 col-md-offset-4">Send</button>
            </div>
        </form>
    </main>
</div>
<%- include partials/footer %>