<%- include partials/header %>
<div class="container">
    <h1>Data</h1>
    <main id="dataform" role="main">
        <section>
            <a href="/data/add">Add Data</a>
        	<table class="table table-striped">
        		<thead>
        			<tr>
        				<th>Section #</th>
        				<th>Road Condition</th>
        				<th></th>
        				<th>Edit</th>
        				<th>Delete</th>
        			</tr>
        		</thead>
        		<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#">edit</a></td>
							<td><a href="#>">delete</a></td>
						</tr>
        			 
        		</tbody>
        	</table>
        </section>
    </main>
    <div class="sidebar">
    </div>
</div>
<%- include partials/footer %>