<!DOCTYPE html>
<html lang="en">
<head>
    <!--project name-->
    <title>Crime Umbrella</title>
    <meta charset="utf-8">
    <!--css-->
    <link rel="stylesheet" href="">
    <!--viewport for ipad-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page">
    <header role="banner">
        <!--logo-->
        <img src="">
        <!--navigation-->
        <nav role="navigation">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="data">Data</a></li>
                <li><a href="admin">Admin</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
        <!--searchbar-->
        <div>
            <input name="searchbar" id="searchbar" placeholder="Search">
        </div>
    </header>
    <div class="container">
        <h1>Home</h1>
        <!--main content-->
        <main role="main">
            <section>
            </section>
        </main>
        <!--sidebar if needed-->
        <div class="sidebar">
        </div>
    </div>
    <footer role="contentinfo">
        <p>&copy; Georgian College Research - Community Assessment 2016</p>
        <!--footer logo-->
        <img src="">
    </footer>
</div>
</body>
</html>