<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="map">Map</a></li>
      <li><a href="data">Data</a></li>
      <li><a href="admin">Admin</a></li>
      <li><a href="Contact">Contact</a></li>
    </ul>
  </body>
</html>
