<%- include partials/header %>
 <div id="welcomeicon" class="container">
     <div class="row">
         <div class="col-sm-8 col-md-offset-4">
         <h2>Welcome to CrimeUmbrella</h2>
     </div>
     </div>
 <div class="row">
  <div class="col-sm-2">
    <a href="#" >
    </a>
  </div>
  <div class="col-sm-5 ">
    <a href="/admin" >
      <img src="/images/checklist.png" alt="checklist">
    </a>
  </div>
  <div class="col-sm-5">
    <a href="/data" >
      <img src="/images/database.png" alt="database">
    </a>
  </div>
  
</div>
</div>
<%- include partials/footer %>