<%- include partials/header %>
 <div id="welcomeicon" class="container">
     <div class="row">
         <div class="col-sm-8 col-md-offset-4">
         <h3>Welcome to Crime Umbrella</h3>
     </div>
     </div>
 <div class="row">
 <div class="col-sm-2">
     </div>

  <div class="col-sm-3">
    <a href="/data/add" >
      <img src="/images/assessment.png" alt="assessment">
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/data" >
      <img src="/images/viewData.png" alt="database">
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/map" >
      <img src="/images/viewMap.png" alt="map">
    </a>
  </div>
 
</div>
</div>
<br><br><br><br><br>
<%- include partials/footer %>
