<%- include partials/header %>
  <main>
    <h1>Mail Sent</h1>
    <p>We have received your mail and we will get back to you as soon as we can. you can <a href="/'contact">return</a> to the contact page <a href="auth//login">login</a> or navigat using the header.</p>
    <p>Thank You</p>
  </main>
<%- include partials/footer %>