html{
      height: 100%;
}
body {
 font-family: 'Open Sans', sans-serif;
  color: #ffffff;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #506383 0%, #3a5073 51%, #253d64 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#506383 0%,#3a5073 51%,#253d64 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#506383 0%,#3a5073 51%,#253d64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#253d64',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;

}

#headertitle{
    color: black;
    background-color: #FFDA00;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}
a {
  color: #ffffff;
}
/*logo */
#logo {
    padding-top:10px;
    padding-right: 250px;
}
.navbar-brand {
    margin-right: 0 px;
    
}
#bs-example-navbar-collapse-1{
    font-size: 1.5em;
    color:#ffffff;
    font-weight: bold;
}
a:hover {
    color: #ffffff; 
}

/*login form*/
#login{
        background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #506383 0%, #3a5073 51%, #253d64 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#506383 0%,#3a5073 51%,#253d64 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#506383 0%,#3a5073 51%,#253d64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#253d64',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
    padding:20px;
    color:black
}

footer {
    padding: 1%;
    text-align: center;
    background-color: #253D64;
}