<!-- Latest   jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified   JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="/javascripts/scripts.js"></script>
<footer>
  <p>©Georgian College Research--Comunity Assessment 2106<img src="images/gcresearch.png" width="3%" /></p>
 
</footer>
</body>
</html>